@import "../../_theme.scss";

.home {
  padding: 0;
  flex-direction: row;

  .left {
    width: 30%;
    height: 100%;
    padding: 0.5rem;
    max-width: 200px;
    border-right: 1px solid #ebebeb;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #efefef;
  }

  .right {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    flex-direction: column;

    .top {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #e8e8e8;

      .title-favorite {
        height: 30px;
        font-weight: 600;
        text-align: left;
        align-self: flex-start;
        padding: 5px 10px
      }

      .preview-container {
        flex: 1;
        overflow-x: auto;
      }
    }

    .bottom {
      flex: 1;
      width: 100%;
      height: 100%;
    }
  }

  .preview-container {
    width: 100%;
    overflow-x: auto;
    flex-direction: row;
  }
}