@import "../../_theme";

.card-movie {
  width: 90%;
  height: 70%;
  position: relative;
  min-width: 300px;
  min-height: 450px;
  max-width: 350px;
  max-height: 500px;
  padding-left: 10px;
  padding-right: 10px;

  &.small {
    width: 70px;
    height: 100px;
    margin: 0 10px;
    position: relative;
    min-width: 70px;
    min-height: 100px;
    
    .img {
      background-size: contain;
    }
  }

  .star {
    top: 10px;
    right: 20px;
    color: yellow;
    width: 30px;
    cursor: pointer;
    height: 30px;
    font-size: 30px;
    position: absolute;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .footer {
    left: 0;
    width: 100%;
    color: #fff;
    bottom: 0;
    padding: 5px;
    position: absolute;
    font-size: 0.8rem;
    line-height: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
