.body-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: flex;
	position: fixed;
	background: rgba(0, 0, 0, .6);
	align-items: center;
	justify-content: center;

	> div {
		display: block;
	}
}