$font-family: 'Flama', sans-serif;

$color-primary: #A31037;
$color-primary-dark: #61051d;
$color-second: #19a699;;
$color-second-dark: #11766c;
$color-third: #f1f1f1;

$color-red: #ff0000;
$color-alert: #a11439;
$color-white: #fff;
$color-title: #004765;
$color-gray: #b2b2b2;

$color-scale-gray1: #f7f7f7;
$color-scale-gray2: #f2f2f2;;
$color-sentence: #555555;
$font-size-paragraph: 18px;

$font-color: #555555;
$font-color-input: #666;

$table-shade-color: #f2f2f2;
$table-text-color: #a3a3a3;
$table-title-color: #666;
$table-border-color: #ddd;

