.sidebar {
	top: 0;
	width: 200px;
	height: 100%;
	display: flex;
	position: fixed;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
	min-height: 500px;
	transition: left 0.2s ease-in;
	align-items: center;
	background-color: #fff;
}

.collapsed {
	left: -200px;
	flex-direction: column;
	justify-content: flex-start;
}

.opened {
	left: 0;
	width: 200px;
	flex-direction: column;
	justify-content: flex-start;
}

.mobile-toggle {
	display: none;
}

.sidebar i {
	transition: all 0.2s ease-in
}

.opened .toggle-icon i {
	transform: rotate(-180deg);
}

.icon-container {
	width: 50px;
	padding: 0.5em 0;
	font-size: 20px;
}

.icon-container span::before {
	color: var(--header-icon-color);
}

.sidebar-icons {
	width: 100%;
}

.toggle-icon {
	font-size: 15px;
	align-self: flex-end;
}

.active-item {
	color: #fff !important;
	transition: background-color 0.2s ease-in;
	background-color: var(--header-icon-color);
}

.sidebar .sidebar-item {
	cursor: pointer;
	padding: 0 0 0 10px;
}

.sidebar .sidebar-item:hover {
	color: #fff;
	/* background-color: rgba(0, 0, 0, 0.075); */
}
.sidebar .sidebar-item:hover .icon-container > span:before{
	color: #fff;
}

.sidebar .sidebar-item.active-item:hover {
	background-color: var(--header-icon-color);;
}
.sidebar .sidebar-item.show-label {
	width: 100%;
	box-sizing: border-box;
}

.active-item span::before {
	color: #fff;
}

.sidebar a {
	color: var(--default-text-color);
	text-decoration: none;
}






